<div class="row">
    <div class="col-xs-8 chat-window">
        <ul>
            <li ng-repeat="message in messages track by $index" ng-class="getMessageType(message)">
                <span class="username">{{message.username}}</span>
                <span class="message">{{message.message}}</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-4 user-window">
        <ul>
            <li ng-show="username" class="username">{{username}}</li>
        </ul>
        <ul>
            <li ng-repeat="user in users track by $index">{{user}}</li>
        </ul>
    </div>
</div>
<div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="chatInput" class="col-sm-1">Chat</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="chatInput" placeholder="Enter Text Here..." ng-model="msg" />
                <!--<textarea class="form-control" id="chatInput" placeholder="Enter Text Here..." ng-model="msg"> </textarea>-->
            </div>
            <div class="col-sm-4">
                <button type="submit" class"btn btn-primary" ng-click="sendMessage(msg)">Send Message</button>
            </div>
        </div>
    </form>
</div>