.user-window {
    border-left: 2px solid black;
    height: 300px;
}

.username {
    color: red;
    font-weight: bold;
}

.chat-window {
    height: 300px;
    overflow: auto;
}

ul {
    list-style-type: none;
}

.user-window .username {
    font-weight: bold;
    font-style: italic;
}