ul {
    list-style-type: none;
}

textarea {
    max-width: 100%
}

.user-window {
    border-left: 2px solid black;
    height: 300px;
}

.username {
    color: red;
    font-weight: bold;
}

.chat-window {
    height: 300px;
    overflow: auto;
}

.system-message {
    background-color: #CCCCCC;
    font-style: italic;
}

.system-message .username {
    color: black;
}

.self-message .username{
    color: blue;
}

.user-window .username {
    font-style: italic;
}